html,
body {
	position: relative;
	height: 100%;
	min-height: 100%;
}

body {
	font-family: 微软雅黑, "microsoft yahei", tahoma, helvetica, arial;
	background: url(../img/banner.jpg) repeat;
}

.navbar-bg {
	background-color: rgba(41, 60, 85, 0.4);
}

#main .description {
	position: absolute;
	top: 20%;
	left: 0;
	width: 100%;
	z-index: 20;
}

#main .main_title {
	width: 60%;
	height:304px;
	max-width: 347px;
	margin: 0 auto;
	font-size: 50px;
	font-weight: bold;
	text-shadow: 1px 5px 5px #aaa;
	text-align: center;
	color: #fff;
}

#main .main_welcome{
	color: #ffffff;
	font-size: 18px;
	font-weight: bold;
	margin-top: 10px;
	text-align: center;
}

#main .main_title img {
	width: 100%;
}

#main .main_panel {
	width: 50%;
	/*max-width: 400px;*/
	min-width: 300px;
	min-height: 100px;
	margin: 5px auto 40px;
	color: #fff;
	text-align: center;
}

#main .main_panel .main_panel_btn{
	display: inline-block;
	margin:10px 20px;
}

#main .main_panel .panel_btn {
	background: transparent;
	border: 1px solid #fff;
	outline: 0;
	padding: 0 20px;
	height: 36px;
	line-height: 30px;
	border-radius: 15px;
	font-size: 14px;
}

.navbar .container-fluid a {
	color: rgba(255, 255, 255, 1);
}

footer .main_copy {
	margin-bottom: 8px;
	text-align: center;
	color: #E7E7E7;
	font-size: 10px;
}

footer .main_copy p {
	margin: 0;
}

footer .main_copy .title {
	font-size: 12px;
}

#select_box {
	position: absolute;
	right: -1px;
	top: 70px;
}

#select_box .footer_right {
	float: right;
	padding-left: 15px;
	font-size: 12px;
	font-family: 微软雅黑, "microsoft yahei", tahoma, helvetica, arial;
	background-color: #fff;
	border: 1px solid #fff;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

#select_box .footer_right input {
	background: transparent;
	border: 0px solid #fff;
	outline: 0;
	width: 75px;
	height: 25px;
	color: #666666;
}

#select_box .footer_right a {
	display: inline-block;
	width: 30px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	background: #fff;
	color: #666666;
	border-radius: 10px;
}

#select_box .footer_right a:hover {
	text-decoration: none;
}

#select_box .footer_right_icon {
	float: right;
	color: #fff;
	font-size: 24px;
	margin-right: 10px;
}

#main .main_panel .panel_block input{
    -webkit-box-shadow: 0 0 0 1000px #2E3235 inset;
    -webkit-text-fill-color: #ffffff;  //设置字体颜色
}

@media screen and (max-width: 768px) {
	#main .main_panel .main_panel_btn{
		display: block;
	}
}