<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>探霸升级包管理</title>
    <script src="lib/jquery/1.9.1/jquery.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
<div class="container" id="app">
    <div class="page-header">
        <h1>上传升级包 </h1>
    </div>

    <form action="uploadadmin.php" method="post" enctype="multipart/form-data" accept-charset="UTF-8">
        <label for="file">固件标识文件：</label>
        <input type="file" name="file" id="file"><br>
        <div class="form-group">
            <label for="frimware">升级文件标题</label>
            <input type="text" class="form-control" id="frimware"  name="frimware" v-model="form.frimware"  placeholder="固件标识文件">
        </div>

        <div class="form-group">
            <label for="script">升级说明</label>
            <textarea rows="3" cols="20" type="text" class="form-control" id="script"  name="script" v-model="form.script"  placeholder="描述一下升级解决了那些问题"></textarea >
        </div>

        <div class="form-group">
            <label for="md5">md5校验</label>
            <input type="text" class="form-control" id="md5"  name="md5" v-model="form.md5"  placeholder="文件md5校验">
        </div>
        <div class="form-group">
            <label for="sha1">sha1校验</label>
            <input type="text" class="form-control" id="sha1"  name="sha1" v-model="form.sha1"  placeholder="文件sha1校验">
        </div>

        <div class="form-group">
            <label for="mysoftver">本次升级后的软件版本</label>
            <input type="text" class="form-control" id="mysoftver"  name="mysoftver" v-model="form.mysoftver"  placeholder="软件版本">
        </div>

        <div class="form-group">
            <label for="prtver">协议版本</label>
            <input type="text" class="form-control" id="prtver" name="prtver" v-model="form.prtver" value="12"  placeholder="软件版本">
        </div>

         <div class="form-group">
            <label for="softver">适合软件版本范围','分割</label>
            <input type="text" class="form-control" id="softver" name="softver" v-model="form.softver"  value="78">
        </div>
        <div class="form-group">
            <label for="hardver">适合硬件版本','分割</label>
            <input type="text" class="form-control" id="hardver" name="hardver" v-model="form.hardver"  value="45">
        </div>

        <button type="submit" name="submit" vclass="btn btn-success" >提交</button>
    </form>

    <hr>

</div>
	<script src="js/base.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>